body {
    background-color: rgba(0, 0, 139, 0.5);
    margin: 0;
    height: 100%;
    width: 100%;
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding-top: 50px;
}
.lobby-list {
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-size: 40px;
  top: 20%;
}

.lobby-background {
    background-image: url("../images/MenuScreen.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 185px;
    width: 100%;
    max-width: 900px;
    position:relative;
}

.game-lobby-header {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.5em;
    color:white;
    
    text-shadow:
    3px 3px 0 #000,
    -3px 3px 0 #000,
    -3px -3px 0 #000,
    3px -3px 0 #000;
}

.player-section {
    font-size: 1.2em;
    width: 100%;
    text-align: center;
  
    
}

.player-container {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    padding: 10px;
    border-radius: 20px;
    width: 50%;
    max-height: 500px;

    
}

.player {
    font-size: 1.4em;
    color: white;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
    text-align: left;
    border-radius: 10px;
    padding: 10px;
}

/*Button styling*/
.btn {
    padding: 20px 50px; 
    font-size: 2em; 
    color: #fff; 
    background-color: #007bff;
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    margin: 10px;

    text-shadow:
    3px 3px 0 #000,
    -3px 3px 0 #000,
    -3px -3px 0 #000,
    3px -3px 0 #000;

    
    
}
.lowered{
    position: absolute;
    left: 50%;
    top: 75%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.bottom{
    position: absolute;
    left: 50%;
    top: 80%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.centered{
    padding: 20px 50px; 
    font-size: 4em; 
    color: #fff; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    margin: 10px;

    text-shadow:
    3px 3px 0 #000,
    -3px 3px 0 #000,
    -3px -3px 0 #000,
    3px -3px 0 #000;
    
        
        
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.d-flex{
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
.btn:hover {
    background-color: #0056b3; 
}

.btn-red {
    background-color: red; 
}
.btn-green {
    background-color: rgb(0, 201, 27); 
}

.btn-blue {
    background-color: blue; 
}
.btn-orange {
    background-color: orange; 
}

.btn-purple {
    background-color: purple; 
}

.player a, .player a:visited {
    color: white ; 
    text-decoration: none ;
}

.player a:hover, .player a:focus {
    color: #ccc;
    text-decoration: underline;
}